<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro about</title>
    </head>
    <body>
        <h1>About</h1>
        <div class="card">
            <h2>Card</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum atque voluptate porro impedit voluptatibus eligendi dolor sunt ipsa possimus beatae, recusandae quas, repellat odio quam, molestias quaerat! Tenetur, ratione?</p>
        </div>
    </body>
</html>
